@import "tailwindcss";

@font-face {
  font-family: "Instrument Serif";
  src: url("../public/fonts/InstrumentSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("../public/fonts/InstrumentSerif-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --cosmic-gradient: linear-gradient(
    180deg,
    #050505 0%,
    #000000 25%,
    #000000 50%,
    #000000 75%,
    #000000 95%,
    #000000 100%
  );
}

@theme inline {
  --color-background: var(--cosmic-gradient);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-instrument: 'Instrument Serif', serif;
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

body {
  background: var(--color-background);
  font-family: var(--font-sans);
}
